body{
    font-size: medium;
}

.main-div {
    margin: 5% 8% 8% 8%;
    padding-bottom: 1%;
    border-bottom: 2px solid chocolate;
}

.title{
    font-family: adobe-garamond-pro, serif;
    font-style: italic;
    font-size: 24px;
    color: chocolate;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-bottom: 2px solid chocolate;
}

#profile{
    width: 20%;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

#hand{
    font-size: xx-large;
    width: 30px;
    float: right;
    margin: -10% 65% 0% 0%;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes hello{
    0% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
    25% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(70deg)}
    100% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 55%;
    margin-left: 1%;
    padding-bottom: 5%;
}
#p-hello{
    font-size: x-large;
}

a{ 
    text-decoration: none;
    color: black;
    font-style: oblique;
}

a:hover {
    color: chocolate;
    cursor: pointer;
}
a:active{
    color: coral;
}
