*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap'); /* extralight 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500&display=swap'); /* extralight italic 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap'); /* regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* semibold italic 600 */
/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* regular italic 400 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* bold italic 700 */

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}

/* TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU */
.navbar{
  border-bottom: 0.5px solid black;
}
.nav-item a{
    text-decoration: none;
    color: black;
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 30px;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    line-height: 30px;
}
.navbar-collapse{
  justify-content: flex-end;
}
.nav-item{
  margin-left: 80px;
}


/* INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker-1{
    width: 500px;
    margin: 5%;
    margin-bottom: 20%;
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 95%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before, .scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
.scroll-down:hover{
    background-color: rgba(218, 91, 57, 0.2);
    border-color: rgb(218, 91, 57);
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
@media (max-width: 640px)
{
    .scroll-down{display: none;}
}

/* PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO */
.portfolio{
    margin: 5% 8% 8% 8%;
    padding-bottom: 1%;
}
.col-md{
    text-align: center;
}

.portfolio, h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-top: 24px;
}
.portfolio, p{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 80px;
}
.comment{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    color: chocolate;
}



/* ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT */
.about-div {
    margin: 5% 8% 8% 8%;
    padding-bottom: 1%;
}

#profile{
    width: 30%;
    float: right;
    z-index: 2;
    margin-top: 0%;
    margin-bottom: 5%;
}

#hand{
    font-size: xx-large;
    width: 30px;
    float: right;
    margin: -10% 65% 0% 0%;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes hello{
    0% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
    25% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(70deg)}
    100% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
}

.text{
    float: left;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 45%;
    margin-top: 0%;
    margin-left: 1%;
    padding-bottom: 5%;
}

h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: xx-large;
    padding-bottom: 5%;
}

a{
    text-decoration: none;
    color: black;
    font-style: oblique;
}

a:hover {
    color: chocolate;
    cursor: pointer;
}
a:active{
    color: coral;
}
