*{
    box-sizing: border-box;
}
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap'); /* extralight 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500&display=swap'); /* extralight italic 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap'); /* regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* semibold italic 600 */
/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* regular italic 400 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* bold italic 700 */
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

/* TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU */

.top-menu{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr);
    grid-auto-rows: minmax(10%, auto);
    padding: 1%;
}
.menu-type{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 30px;
}
.my-name{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 30px;
}

/* PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO */

@media (max-width: 800px) {
    .portfolio-div{
        flex-direction: column;
    }
}

.row{
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}

.col{
    text-align: center;
    padding: 5%;
}


/* ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT */
.about-div {
    margin: 5% 8% 8% 8%;
    padding-bottom: 1%;
    border-bottom: 2px solid chocolate;
}

.title{
    font-family: adobe-garamond-pro, serif;
    font-style: italic;
    font-size: 24px;
    color: chocolate;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-bottom: 2px solid chocolate;
}

#profile{
    width: 20%;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

#hand{
    font-size: xx-large;
    width: 30px;
    float: right;
    margin: -10% 65% 0% 0%;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes hello{
    0% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
    25% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(70deg)}
    100% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 55%;
    margin-left: 1%;
    padding-bottom: 5%;
}
#p-hello{
    font-size: x-large;
}

a{ 
    text-decoration: none;
    color: black;
    font-style: oblique;
}

a:hover {
    color: chocolate;
    cursor: pointer;
}
a:active{
    color: coral;
}

