*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    scroll-behavior: smooth;
}
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap'); /* extralight 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500&display=swap'); /* extralight italic 200 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap'); /* regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* semibold italic 600 */
/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* regular italic 400 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins:ital,wght@0,200;0,400;1,200;1,500;1,600&display=swap'); /* bold italic 700 */
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

/* TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU_TOP MENU */
.menu-type a{
    text-decoration: none;
    color: black;
}
.top-menu{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr);
    grid-auto-rows: minmax(10%, auto);
    padding: 1%;
}
.menu-type{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 30px;
}
.my-name{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 30px;
}

/* INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO_INTRO */
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker-1{
    width: 500px;
    margin: 10%;
    margin-bottom: 20%;
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 95%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before, .scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
.scroll-down:hover{
    background-color: rgba(218, 91, 57, 0.2);
    border-color: rgb(218, 91, 57);
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
@media (max-width: 640px) 
{
    .scroll-down{display: none;}
}

/* PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO_PORTFOLIO */

.col-md{
    text-align: center;
}



/* ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT_ABOUT */
.about-div {
    margin: 5% 8% 8% 8%;
    padding-bottom: 1%;
    border-bottom: 2px solid chocolate;
}


#profile{
    width: 20%;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

#hand{
    font-size: xx-large;
    width: 30px;
    float: right;
    margin: -10% 65% 0% 0%;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes hello{
    0% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
    25% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(70deg)}
    100% {transform-origin: center;
        transition-timing-function: ease;
        transform: rotate(0deg)}
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 55%;
    margin-left: 1%;
    padding-bottom: 5%;
}
#p-hello{
    font-size: x-large;
}

a{ 
    text-decoration: none;
    color: black;
    font-style: oblique;
}

a:hover {
    color: chocolate;
    cursor: pointer;
}
a:active{
    color: coral;
}

